<html>
<head><title>Instamator- Grab your Instagram favorites</title>

<link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18986645-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","7619ece6e0624c6abf659003d2a4bd01"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script><!-- end Mixpanel -->
</head>

<body>
<h1 style = "font-family: 'Yellowtail', cursive; font-size:100px; padding-left:400px;">Instamator</h1>


<div style="width:420px; padding-left:400px; font-family: 'Buda', sans-serif; font-size:24px;">
Instamator takes all your Instagram "likes" and creates usable feeds so that you can use them as you wish. Instamator was inspired by <a href='http://flickmator.heroku.com/'>Flickmator</a>.
<br/><br/>

{% if not session['api'] %}
To start using Instamator <a href="{{ login }}">login with your Instagram account</a>
{% endif %}
{% if session['api'] %}


<a href='{{ url_for('makeJson', hash_id = hash_id) }}'>JSON</a>
<a href='{{ url_for('makeRss', hash_id = hash_id) }}'>RSS</a>
<a href='{{ url_for('makeText', hash_id = hash_id) }}'>Text</a>

{% endif %} 
<br/><br/><br/>
<hr/>
Built by <a href="http://twitter.com/samratmansingh">Samrat Man Singh</a>

</div>


</body>
</html>
