<html>
<head><title>Instamator- Grab your Instagram favorites</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/1140.css') }}" media="screen">
<link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18986645-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
"
</script>
</head>

<body>

<div class ="container">
<div class = "row" style="height:100px;">
<div class = "twelvecol heading" style="text-align:center;"><h1 style = "font-family: 'Yellowtail', cursive; font-size:80px;">Instamator</h1></div>
</div>

<div class = "row">
<div class = "fourcol">&nbsp;</div>
<div class = "fourcol" style="padding-top:25px;">

<div style="font-family: 'Buda', sans-serif; font-size:24px;">
Instamator takes all your Instagram "likes" and creates usable feeds so that you can use them as you wish. Instamator was inspired by <a href='http://flickmator.heroku.com/'>Flickmator</a>.
<br/><br/>

{% if not session['api'] %}
To start using Instamator <a href="{{ login }}">login with your Instagram account</a>
{% endif %}
{% if session['api'] %}


<a href='{{ url_for('makeJson', hash_id = hash_id) }}'>JSON</a>
<a href='{{ url_for('makeRss', hash_id = hash_id) }}'>RSS</a>
<a href='{{ url_for('makeText', hash_id = hash_id) }}'>Text</a>

{% endif %} 
<br/><br/><br/>
<hr/>
Built by <a href="http://twitter.com/samratmansingh">Samrat Man Singh</a>

</div>
<div class ="onecol">&nbsp;</div>
</div>
</div>
</div>
</body>
</html>
